/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 22, 2018, 6:49:17 PM
    Author     : USER
*/

.topgrid {
    height:100px; border:1px solid gray; margin:0px
}

.calBut
{
    height:80px;border:1px solid gray;margin:0px;background-color:whitesmoke;font-size: 50px
        
}

.payment
{
    margin-top: 1px;height:100px;border:1px solid gray;background-color:whitesmoke;font-size: 30px
}
.table>thead>tr>th{
    border-bottom:1px solid gray !important;
 
}

.cancel
{
    margin-top: 1px;height:100px;border:1px solid gray;background-color:whitesmoke;font-size: 30px
}


